<h1>id: <%= @task.id %>のタスク編集ページ</h1>

<%= form_with(model: @task, local:true) do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.label :status, '状態' %>
    <%= f.text_field :status %>
    
    <%= f.label :content, ' タスク' %>
    <%= f.text_field :content %>
    
    <%= f.submit '追加' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>