<h1>TASKLIST</h1>

  <p>ログイン完了ユーザ: <%= current_user.name %></p>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task_path(task) %> : <%= task.status %> &gt; <%= task.content %></li>
  <% end %>
</ul>
<%= paginate @tasks%>

<%= link_to '新規タスクの追加', new_task_path %>

<%= link_to 'Logout', logout_path, method: :delete %>